<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Chatbot </title>
</head>
<body>
    <h1>Welcome to Chatbot</h1>
    <div id="chat-container">
        <div id="chat-box">
            <p id="bot-message">Hello, I am Chatbot. You can ask me questions.</p>
        </div>
        <input type="text" id="user-input" placeholder="Ask Your QA here">
        <button onclick="sendMessage()">Send</button>
    </div>

    <script>
        function sendMessage() {
            var userInput = document.getElementById("user-input").value;
            var chatBox = document.getElementById("chat-box");
            var userMessage = '<p><strong>You:</strong> ' + userInput + '</p>';
            chatBox.innerHTML += userMessage;

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    var botMessage = '<p><strong>Chatbot:</strong> ' + this.responseText + '</p>';
                    chatBox.innerHTML += botMessage;
                }
            };
            xhttp.open("GET", "/get?msg=" + userInput, true);
            xhttp.send();

            document.getElementById("user-input").value = "";
        }
    </script>
</body>
</html>
 
